{% load wahlrechner_name %}

<h1>Willkommen beim {% wahlrechner_name %}</h1>

<p>
    Am 9. Oktober 2022 findet die niedersächsische Landtagswahl statt, bei der auch ein*e Direktabgeordnete*r für
    unseren Wahlkreis gewählt wird. Die Jugendkonferenz Apensen bietet eine Plattform, auf der du deine Ansichten mit
    den Positionen der Kandidat*innen vergleichen kannst.
    <br><br>
    Wir haben Thesen zu den Themenbereichen Mobilität, Digitalisierung, Ehrenamtsförderung, Fördermittel für
    Jugendarbeit und Jugend in der Gesellschaft erarbeitet. Die Kandidat*innen der Parteien haben sich begründet zu den
    Thesen positioniert. Die genauen Begründungen kannst du dir durchlesen, sobald du den Delm-O-Mat abgeschlossen hast.
    Mehr Infos zum Projekt findest du
    <a class="underline" href="https://www.sjr-stade.de/stad-o-mat.php">hier</a>.
    <br><br>
    Du kannst nun den Delm-O-Mat durchspielen. Lies dir die Thesen genau durch und entscheide, wie du dich zu ihnen
    positionierst. Am Ende wird deine inhaltliche Übereinstimmung mit den einzelnen Kandidat*innen verglichen.
    <br><br>
    <i>
        Der Delm-O-Mat gibt keine Wahlempfehlungen, sondern ist ein politisches Informationsangebot über die
        Kandidat*innen und ihre Positionen.
    </i>
</p>

<div class="infobox">
    Der {% wahlrechner_name %} sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
    Indem du auf "Start" klickst, stimmt du den
    <a class="underline" href="https://www.sjr-stade.de/impressum.html#a145">Datenschutzbedingungen</a>
    zu.
</div>
